body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.slider {
    max-width: 600px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.slide {
    display: none;
}

.slide img {
    max-width: 100%;
    max-height: 335px;
}

.prev-btn,
.next-btn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #02d630;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.slider__dots {
    margin-top: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active-dot {
    background-color: #02d630;
}